<phpunit bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./tests/unit-tests</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>./tests/integration-tests</directory>
        </testsuite>
        <testsuite name="Functional Tests">
            <directory>./tests/functional-tests</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <!-- close any expectations, report issues -->
        <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
        <listener class="League\PHPUnitCoverageListener\Listener">
            <arguments>
                <array>
                    <element key="printer">
                      <object class="League\PHPUnitCoverageListener\Printer\StdOut"/>
                    </element>
                    <element key="hook">
                      <object class="League\PHPUnitCoverageListener\Hook\Travis"/>
                    </element>
                    <element key="namespace">
                        <string>AdamBrett\ShellWrapper</string>
                    </element>
                    <element key="repo_token">
                        <string>cgEyV8fbUxsgFddGKhREeI6OHcHhTMzle</string>
                    </element>
                    <element key="target_url">
                        <string>https://coveralls.io/api/v1/jobs</string>
                    </element>
                    <element key="coverage_dir">
                        <string>./build/logs/</string>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>

    <filter>
        <blacklist>
            <directory>./vendor/</directory>
        </blacklist>

        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./build/coverage"
            charset="UTF-8" yui="true" highlight="true"
            lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="./build/logs/coverage.xml"/>
        <log type="junit" target="./build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>