<phpunit bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./tests/unit-tests</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>./tests/integration-tests</directory>
        </testsuite>
        <testsuite name="Functional Tests">
            <directory>./tests/functional-tests</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <!-- close any expectations, report issues -->
        <listener class="\Mockery\Adapter\Phpunit\TestListener" />
    </listeners>

    <filter>
        <blacklist>
            <directory>./vendor/</directory>
        </blacklist>

        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
